<ion-header>
  <ion-toolbar>
    <ion-title>
      Εκλογές 2019
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="convertIt()" color="tertiary" expand="full" shape="round"
      href="https://www.ypes.gr/mathe-poy-psifizeis-forma/">Μάθε που ψηφίζεις!</ion-button>
    <h2>Επιλέξτε Δημοτική Ενότητα</h2>
    <ion-list>
      <ion-item *ngFor="let item of diamerismata" (click)='openDiamerisma(item.data, item.name)' detail>
        <ion-label text-wrap>{{item.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>